<!-- Toolbar -->
<mat-toolbar color="primary" class="header repo-header">
  <div class="text-title">芬兰COVID-19 [确诊: {{ confirmedNumber }}], [康复:{{ recoveredNumber }}], [死亡: {{ deathNumber }}]</div>

</mat-toolbar>

<button mat-flat-button class="navi-button" [color]="todayInfo['Unspecified'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Unspecified')">Unspecified(未知)(+{{todayInfo['Unspecified']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Pohjois-Pohjanmaa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Pohjois-Pohjanmaa')">Pohjois-Pohjanmaa(奥卢)(+{{todayInfo['Pohjois-Pohjanmaa']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['HUS'] > 0 ? 'warn' : 'accent'" (click)="onGetData('HUS')">HUS(赫尔辛基)(+{{todayInfo['HUS']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Lappi'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Lappi')">Lappi(拉普兰)(+{{todayInfo['Lappi']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Kanta-Häme'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Kanta-Häme')">Kanta-Häme(+{{todayInfo['Kanta-Häme']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Pirkanmaa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Pirkanmaa')">Pirkanmaa(坦佩雷)(+{{todayInfo['Pirkanmaa']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Etelä-Karjala'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Etelä-Karjala')">Etelä-Karjala(+{{todayInfo['Etelä-Karjala']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Pohjois-Savo'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Pohjois-Savo')">Pohjois-Savo(+{{todayInfo['Pohjois-Savo']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Keski-Suomi'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Keski-Suomi')">Keski-Suomi(+{{todayInfo['Keski-Suomi']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Varsinais-Suomi'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Varsinais-Suomi')">Varsinais-Suomi(图尔库)(+{{todayInfo['Varsinais-Suomi']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Pohjois-Karjala'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Pohjois-Karjala')">Pohjois-Karjala(+{{todayInfo['Pohjois-Karjala']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Etelä-Pohjanmaa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Etelä-Pohjanmaa')">Etelä-Pohjanmaa(+{{todayInfo['Etelä-Pohjanmaa']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Satakunta'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Satakunta')">Satakunta(+{{todayInfo['Satakunta']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Vaasa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Vaasa')">Vaasa(+{{todayInfo['Vaasa']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Keski-Pohjanmaa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Keski-Pohjanmaa')">Keski-Pohjanmaa(+{{todayInfo['Keski-Pohjanmaa']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Päijät-Häme'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Päijät-Häme')">Päijät-Häme(+{{todayInfo['Päijät-Häme']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Etelä-Savo'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Etelä-Savo')">Etelä-Savo(+{{todayInfo['Etelä-Savo']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Kymenlaakso'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Kymenlaakso')">Kymenlaakso(+{{todayInfo['Kymenlaakso']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Länsi-Pohja'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Länsi-Pohja')">Länsi-Pohja(+{{todayInfo['Länsi-Pohja']}})</button>
<button mat-flat-button class="navi-button" [color]="todayInfo['Ahvenanmaa'] > 0 ? 'warn' : 'accent'" (click)="onGetData('Ahvenanmaa')">Länsi-Pohja(+{{todayInfo['Ahvenanmaa']}})</button>


<router-outlet></router-outlet>

<div class="text-footer">Data source: <a href="https://github.com/HS-Datadesk/koronavirus-avoindata" target="_blank">Helsingin Sanomat data desk</a></div>
<div class="text-footer">This application is open sourced in <a href="https://github.com/jingzhe/contribute" target="_blank">GitHub</a></div>

<ng4-loading-spinner> </ng4-loading-spinner>

