<!-- Toolbar -->
<mat-toolbar color="primary" class="header repo-header">
  <div>Coronavirus confirmed in Finland: {{ confirmedNumber }} </div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
               [fixedTopGap]>
    <mat-nav-list>

      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Pohjanmaa')">Oulu</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('HUS')">Helsinki</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Lappi')">Lappi</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Kanta-Häme')">Kanta-Häme</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pirkanmaa')">Pirkanmaa</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Etelä-Karjala')">Etelä-Karjala</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Savo')">Pohjois-Savo</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Keski-Suomi')">Keski-Suomi</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Varsinais-Suomi')">Varsinais-Suomi</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Karjala')">Pohjois-Karjala</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Etelä-Pohjanmaa')">Etelä-Pohjanmaa</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Satakunta')">Satakunta</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Vaasa')">Vaasa</button></div>
      <div><button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Keski-Pohjanmaa')">Keski-Pohjanmaa</button></div>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<ng4-loading-spinner> </ng4-loading-spinner>

