<!-- Toolbar -->
<mat-toolbar color="primary" class="header repo-header">
  <div class="text-title">芬兰COVID-19 [确诊: {{ confirmedNumber }}], [康复:{{ recoveredNumber }}], [死亡: {{ deathNumber }}]</div>

</mat-toolbar>


<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Pohjanmaa')">Pohjois-Pohjanmaa(奥卢)</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('HUS')">HUS(赫尔辛基)</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Lappi')">Lappi(拉普兰)</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Kanta-Häme')">Kanta-Häme</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pirkanmaa')">Pirkanmaa(坦佩雷)</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Etelä-Karjala')">Etelä-Karjala</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Savo')">Pohjois-Savo</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Keski-Suomi')">Keski-Suomi</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Varsinais-Suomi')">Varsinais-Suomi(图尔库)</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Pohjois-Karjala')">Pohjois-Karjala</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Etelä-Pohjanmaa')">Etelä-Pohjanmaa</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Satakunta')">Satakunta</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Vaasa')">Vaasa</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Keski-Pohjanmaa')">Keski-Pohjanmaa</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Päijät-Häme')">Päijät-Häme</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Etelä-Savo')">Etelä-Savo</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Kymenlaakso')">Kymenlaakso</button>
<button mat-flat-button class="navi-button" color="warn" (click)="onGetData('Länsi-Pohja')">Länsi-Pohja</button>


<router-outlet></router-outlet>

<div class="text-footer">This application is open sourced in <a href="https://github.com/jingzhe/contribute" target="_blank">GitHub</a></div>

<ng4-loading-spinner> </ng4-loading-spinner>

