<div class="contributor" #start>Check previous date (from 2020-04-25)</div>
<div>
  <label>Date:</label>
  <input id="date" placeholder="YYYY-MM-DD" [(ngModel)]="date" (keyup.enter)="onGetData()">
  <button mat-flat-button class="get-button" (click)="onGetData()">Get</button>
</div>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('All')">Whole Finland {{getDistrictNumber('All')}}</button>


<button mat-flat-button class="navi-button" [color]="getDistrictColor('Pohjois-Pohjanmaa')">Pohjois-Pohjanmaa(奥卢) {{getDistrictNumber('Pohjois-Pohjanmaa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('HUS')">HUS(赫尔辛基) {{getDistrictNumber('HUS')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Lappi')">Lappi(拉普兰) {{getDistrictNumber('Lappi')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Kanta-Häme')">Kanta-Häme {{getDistrictNumber('Kanta-Häme')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Pirkanmaa')">Pirkanmaa(坦佩雷) {{getDistrictNumber('Pirkanmaa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Etelä-Karjala')">Etelä-Karjala {{getDistrictNumber('Etelä-Karjala')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Pohjois-Savo')">Pohjois-Savo {{getDistrictNumber('Pohjois-Savo')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Keski-Suomi')">Keski-Suomi {{getDistrictNumber('Keski-Suomi')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Varsinais-Suomi')">Varsinais-Suomi(图尔库) {{getDistrictNumber('Varsinais-Suomi')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Pohjois-Karjala')">Pohjois-Karjala {{getDistrictNumber('Pohjois-Karjala')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Etelä-Pohjanmaa')">Etelä-Pohjanmaa {{getDistrictNumber('Etelä-Pohjanmaa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Satakunta')">Satakunta {{getDistrictNumber('Satakunta')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Vaasa')">Vaasa {{getDistrictNumber('Vaasa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Keski-Pohjanmaa')">Keski-Pohjanmaa {{getDistrictNumber('Keski-Pohjanmaa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Päijät-Häme')">Päijät-Häme {{getDistrictNumber('Päijät-Häme')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Etelä-Savo')">Etelä-Savo {{getDistrictNumber('Etelä-Savo')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Kymenlaakso')">Kymenlaakso {{getDistrictNumber('Kymenlaakso')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Länsi-Pohja')">Länsi-Pohja {{getDistrictNumber('Länsi-Pohja')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Ahvenanmaa')">Ahvenanmaa {{getDistrictNumber('Ahvenanmaa')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Itä-Savo')">Itä-Savo {{getDistrictNumber('Itä-Savo')}}</button>
<button mat-flat-button class="navi-button" [color]="getDistrictColor('Kainuu')">Kainuu {{getDistrictNumber('Kainuu')}}</button>
